<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sensehat dashboard</title>
	<!-- <script src="/static/main.js"></script>  -->
	<!-- <link rel="stylesheet" href="/static/assets/css/main.css"> -->
</head>
<body>
	<h1 id="ddd">Draw on the sensehat!</h1>
	<p>You can only start drawing when you have chosen a username! This way you can draw with friends!</p>
	<form id="matrix-form" autocomplete="off">
		<input id="user-name" type="text">
		<div><input type="checkbox" id="pixel-0-0" onclick="updatePixel(event);"><input type="checkbox" id="pixel-0-1" onclick="updatePixel(event);"><input type="checkbox" id="pixel-0-2" onclick="updatePixel(event);"><input type="checkbox" id="pixel-0-3" onclick="updatePixel(event);"><input type="checkbox" id="pixel-0-4" onclick="updatePixel(event);"><input type="checkbox" id="pixel-0-5" onclick="updatePixel(event);"><input type="checkbox" id="pixel-0-6" onclick="updatePixel(event);"><input type="checkbox" id="pixel-0-7" onclick="updatePixel(event);"></div>
		<div><input type="checkbox" id="pixel-1-0" onclick="updatePixel(event);"><input type="checkbox" id="pixel-1-1" onclick="updatePixel(event);" onclick="updatePixel(event);"><input type="checkbox" id="pixel-1-2"><input type="checkbox" id="pixel-1-3" onclick="updatePixel(event);"><input type="checkbox" id="pixel-1-4" onclick="updatePixel(event);"><input type="checkbox" id="pixel-1-5" onclick="updatePixel(event);"><input type="checkbox" id="pixel-1-6" onclick="updatePixel(event);"><input type="checkbox" id="pixel-1-7" onclick="updatePixel(event);"></div>
		<div><input type="checkbox" id="pixel-2-0" onclick="updatePixel(event);"><input type="checkbox" id="pixel-2-1" onclick="updatePixel(event);"><input type="checkbox" id="pixel-2-2" onclick="updatePixel(event);"><input type="checkbox" id="pixel-2-3" onclick="updatePixel(event);"><input type="checkbox" id="pixel-2-4" onclick="updatePixel(event);"><input type="checkbox" id="pixel-2-5" onclick="updatePixel(event);"><input type="checkbox" id="pixel-2-6" onclick="updatePixel(event);"><input type="checkbox" id="pixel-2-7" onclick="updatePixel(event);"></div>
		<div><input type="checkbox" id="pixel-3-0" onclick="updatePixel(event);"><input type="checkbox" id="pixel-3-1" onclick="updatePixel(event);"><input type="checkbox" id="pixel-3-2" onclick="updatePixel(event);"><input type="checkbox" id="pixel-3-3" onclick="updatePixel(event);"><input type="checkbox" id="pixel-3-4" onclick="updatePixel(event);"><input type="checkbox" id="pixel-3-5" onclick="updatePixel(event);"><input type="checkbox" id="pixel-3-6" onclick="updatePixel(event);"><input type="checkbox" id="pixel-3-7" onclick="updatePixel(event);"></div>
		<div><input type="checkbox" id="pixel-4-0" onclick="updatePixel(event);"><input type="checkbox" id="pixel-4-1" onclick="updatePixel(event);"><input type="checkbox" id="pixel-4-2" onclick="updatePixel(event);"><input type="checkbox" id="pixel-4-3" onclick="updatePixel(event);"><input type="checkbox" id="pixel-4-4" onclick="updatePixel(event);"><input type="checkbox" id="pixel-4-5" onclick="updatePixel(event);"><input type="checkbox" id="pixel-4-6" onclick="updatePixel(event);"><input type="checkbox" id="pixel-4-7" onclick="updatePixel(event);"></div>
		<div><input type="checkbox" id="pixel-5-0" onclick="updatePixel(event);"><input type="checkbox" id="pixel-5-1" onclick="updatePixel(event);"><input type="checkbox" id="pixel-5-2" onclick="updatePixel(event);"><input type="checkbox" id="pixel-5-3" onclick="updatePixel(event);"><input type="checkbox" id="pixel-5-4" onclick="updatePixel(event);"><input type="checkbox" id="pixel-5-5" onclick="updatePixel(event);"><input type="checkbox" id="pixel-5-6" onclick="updatePixel(event);"><input type="checkbox" id="pixel-5-7" onclick="updatePixel(event);"></div>
		<div><input type="checkbox" id="pixel-6-0" onclick="updatePixel(event);"><input type="checkbox" id="pixel-6-1" onclick="updatePixel(event);"><input type="checkbox" id="pixel-6-2" onclick="updatePixel(event);"><input type="checkbox" id="pixel-6-3" onclick="updatePixel(event);"><input type="checkbox" id="pixel-6-4" onclick="updatePixel(event);"><input type="checkbox" id="pixel-6-5" onclick="updatePixel(event);"><input type="checkbox" id="pixel-6-6" onclick="updatePixel(event);"><input type="checkbox" id="pixel-6-7" onclick="updatePixel(event);"></div>
		<div><input type="checkbox" id="pixel-7-0" onclick="updatePixel(event);"><input type="checkbox" id="pixel-7-1" onclick="updatePixel(event);"><input type="checkbox" id="pixel-7-2" onclick="updatePixel(event);"><input type="checkbox" id="pixel-7-3" onclick="updatePixel(event);"><input type="checkbox" id="pixel-7-4" onclick="updatePixel(event);"><input type="checkbox" id="pixel-7-5" onclick="updatePixel(event);"><input type="checkbox" id="pixel-7-6" onclick="updatePixel(event);"><input type="checkbox" id="pixel-7-7" onclick="updatePixel(event);"></div>
		<button onclick="clearPixels(event);">Clear pixels</button>
	</form>

	<h1>Sensoren</h1>
	<ul>
		<li>Temperatuur: <span id="temp"></span></li>
		<li>Luchtdruk: <span id="pressure"></span></li>
		<li>Luchtvochtigheid: <span id="humidity"></span></li>
	</ul>
	
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-firestore.js"></script>
	<script>
	var firebaseConfig = {
		apiKey: "AIzaSyB-YWpDAU6YIr2QSjXDuskZiH5fo-aV300",
		authDomain: "pidashboard-866ea.firebaseapp.com",
		databaseURL: "https://pidashboard-866ea.firebaseio.com",
		projectId: "pidashboard-866ea",
		storageBucket: "pidashboard-866ea.appspot.com",
		messagingSenderId: "1015477576117",
		appId: "1:1015477576117:web:941bc7d5eabfb8ab89f9fc"
	};
	// Initialize Firebase
	firebase.initializeApp(firebaseConfig);
	</script>
	<script>
		const fs = firebase.firestore();

		// LEDs
		const COLLECTION_PIXEL = 'matrix';

		const userNameElement = document.getElementById('user-name');
		let userName = undefined;

		let color = [0, 0, 0];
		let noColor = [10,0,0];

		const registerUser = () => {
			if (!userName) {
				userName = userNameElement.value;
				color = [Math.floor(Math.random() * 255), Math.floor(Math.random() * 255), Math.floor(Math.random() * 255)]
				fs.collection(COLLECTION_PIXEL).doc(userName).set({ dummy: true});
			}
		}
		
		const updatePixel = (event) => {
			registerUser();
			if (userName !== undefined) {
				console.log(45)
				fs.collection(COLLECTION_PIXEL).doc(userName).update({[event.target.id] : color,});
			} else {
				userNameElement.value = prompt("Please give a username");
				updatePixel();
			}
		}
		const clearPixels = (event) => {
			event.preventDefault();
			for(let box = 0; box < 64; box ++) {
				const row = Math.floor(box / 8);
				const column = box % 8;
				const checkbox = document.getElementById(`pixel-${row}-${column}`);
				checkbox.checked = false;
				fs.collection(COLLECTION_PIXEL).doc(userName).delete();
			}
		}

		// data

		const updateData = (data) => {
			const tempElement = document.getElementById("temp");
			const pressureElement = document.getElementById("pressure");
			const humidityElement = document.getElementById("humidity");
			console.log(data);
			tempElement.innerHTML = data.temp;
			pressureElement.innerHTML = data.pressure;
			humidityElement.innerHTML = data.humidity;
		}

		const COLLECTION_DATA = 'data';
		const DOCUMENT_DATA = 'metrics';

		fs.collection(COLLECTION_DATA).doc(DOCUMENT_DATA).onSnapshot((doc) => {
			updateData(doc.data());
    });
		
	</script>
</body>
</html>